
<div  style='color:#fff'>
<h2>
	About Us
</h2>
<br>

<p>Dempsit helps you quickly find things to do.</p>

<p>Dempsit finds activities, venues and places for you based on your preferences. Rather than sifting through a million reviews to find the perfect place, let us suggest some things you've already told us you like to do based on your profile!</p>

</div>