
<h2>About Us</h2>
<br>
<p>Channy is an application for parents who are on the go and want to organize chores, reward their kids, and teach them how to budget their money. </p>

<p>This app enables parents to set up chores and projects through their mobile devices, monitor whether or not they are completed, setup allowance rewards when they are completed, help them budget that allowance, and monitor their progress with budgeting and spending. </p>