<div class="jumbotron">
<h1><center>Welcome</center></h1>
<p><center>
	<%= link_to "Login", "#", class: "btn btn-default" %> <%= link_to "Signup", "#", class: "btn btn-primary" %>
</center></p>
</div>