<div  style='color:#fff'>

	<center>

		<h4> Tell us what you like to do... 
			
			<br>
			<br>

			
			<form action="">
				<div class="form-item">
					<div class='rating rating-like'></div>
					<span>Movies<span>
					<div class='rating rating-dislike'></div>
				</div>
			
			</form>

			<form action="">
				<div class="form-item">
					<div class='rating rating-like'></div>
					<span>Concerts<span>
					<div class='rating rating-dislike'></div>
				</div>
			
				</form>

				<form action="">
				<div class="form-item">
					<div class='rating rating-like'></div>
					<span>Bowling<span>
					<div class='rating rating-dislike'></div>
				</div>
					<br>
				</form>
	
			<form action="">
				<div class="form-item">
					<div class='rating rating-like'></div>
					<span>Hiking<span>
					<div class='rating rating-dislike'></div>
				</div>
			
				</form>

				<form action="">
				<div class="form-item">
					<div class='rating rating-like'></div>
					<span>Concerts<span>
					<div class='rating rating-dislike'></div>
				</div>
			
				</form>

				<form action="">
				<div class="form-item">
					<div class='rating rating-like'></div>
					<span>Bowling<span>
					<div class='rating rating-dislike'></div>
				</div>
					<br>
				</form>
		</h4>
	
				

		<br>
		<br>
		<br>



		<%= link_to "back", profile_path, class: "btn btn-default" %>	
		<%= link_to "next", profile3_path, class: "btn btn-default" %>	

	</center>
</div>
