<div  style='color:#fff'>

	<center>

		<h4>
		
			
			Tell us what you like to eat...

			<br>
			<br>
			<br>

			<form action="">
				<div class="form-item">
					<span>Pizza<span>
					<div class='rating rating-like'></div>	
					<div class='rating rating-dislike'></div>
				</div>
			</form>

			<form action="">
				<div class="form-item">
					<span>Sushi<span>
					<div class='rating rating-like'></div>
					<div class='rating rating-dislike'></div>
				</div>
			</form>

			<form action="">
				<div class="form-item">
					<span>Sandwiches<span>
					<div class='rating rating-like'></div>
					<div class='rating rating-dislike'></div>
				</div>
			</form>

			<form action="">
				<div class="form-item">
					<span>Brunch<span>
					<div class='rating rating-like'></div>	
					<div class='rating rating-dislike'></div>
				</div>
			</form>

			<form action="">
				<div class="form-item">
					<span>Pizza<span>
					<div class='rating rating-like'></div>	
					<div class='rating rating-dislike'></div>
				</div>
			</form>

			<form action="">
				<div class="form-item">
					<span>Indian<span>
					<div class='rating rating-like'></div>
					<div class='rating rating-dislike'></div>
				</div>
			</form>

			<form action="">
				<div class="form-item">
					<span>Thai<span>
					<div class='rating rating-like'></div>
					<div class='rating rating-dislike'></div>
				</div>
			</form>

			<form action="">
				<div class="form-item">
					<span>Pho<span>
					<div class='rating rating-like'></div>
					<div class='rating rating-dislike'></div>
				</div>
			</form>

			<form action="">
				<div class="form-item">
					<span>Persian<span>
					<div class='rating rating-like'></div>
					<div class='rating rating-dislike'></div>
				</div>
			</form>


			<form action="">
				<div class="form-item">
					<span>Chinese<span>
					<div class='rating rating-like'></div>
					<div class='rating rating-dislike'></div>
				</div>
			</form>

			<form action="">
				<div class="form-item">
					<span>French<span>
					<div class='rating rating-like'></div>
					<div class='rating rating-dislike'></div>
				</div>
			</form>

			<form action="">
				<div class="form-item">
					<span>Soul Food<span>
					<div class='rating rating-like'></div>
					<div class='rating rating-dislike'></div>
				</div>
			</form>

			<form action="">
				<div class="form-item">
					<span>Burgers<span>
					<div class='rating rating-like'></div>
					<div class='rating rating-dislike'></div>
				</div>
			</form>

			<form action="">
				<div class="form-item">
					<span>Italian<span>
					<div class='rating rating-like'></div>
					<div class='rating rating-dislike'></div>
				</div>
			</form>

			<form action="">
				<div class="form-item">
					<span>Mexican<span>
					<div class='rating rating-like'></div>
					<div class='rating rating-dislike'></div>
				</div>
			</form>

			<form action="">
				<div class="form-item">
					<span>Vegetarian<span>
					<div class='rating rating-like'></div>
					<div class='rating rating-dislike'></div>
				</div>
			</form>

			<form action="">
				<div class="form-item">
					<span>Vegan<span>
					<div class='rating rating-like'></div>
					<div class='rating rating-dislike'></div>
				</div>
			</form>


		</h4>	


		<%= link_to "back", profile2_path, class: "btn btn-default" %>	
		<%= link_to "next", "#", class: "btn btn-default" %>	


	</center>
</div>