<div  style='color:#fff'>

	<center>

		<h4>
		
			
			Tell us what you like to eat...

			<br>
			<br>
			<br>
			</form>

				<form action="">
				<div class="form-item">
					<div class='rating rating-like'></div>
					<span>Pizza<span>
					<div class='rating rating-dislike'></div>
				</div>
					<br>
				</form>

				<br>
			<br>
			</form>

				<form action="">
				<div class="form-item">
					<div class='rating rating-like'></div>
					<span>Italian<span>
					<div class='rating rating-dislike'></div>
				</div>
					<br>
				</form>

		</h4>	


		<%= link_to "back", profile2_path, class: "btn btn-default" %>	
		<%= link_to "next", "#", class: "btn btn-default" %>	


	</center>
</div>