// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-item *
{
	vertical-align:middle;

}

.rating
{
	width:16px;
	height:16px;
	display:inline-block;
	cursor:pointer;
}

.rating-like
{
	background:url(like.svg) no-repeat center center;
	background-size:16px 16px;
}

.rating-like.selected
{
	background:url(l_selected.svg) no-repeat center center;
}

.rating-dislike
{
	background:url(dislike.svg) no-repeat center center;
	background-size:16px 16px;
}

.rating-dislike.selected
{
	background:url(d_selected.svg) no-repeat center center;
}